
  <div *ngIf="books$ | async as books else noData" fxLayout="column" fxLayoutAlign="space-around center">

    <mat-card  *ngFor="let book of books" class="example-card" >
      <mat-card-header>
     
          <img src="{{book.ImageOne}}" alt="logo" mat-card-avatar class="example-header-image">
        
        <mat-card-title>{{book.Title}}</mat-card-title>
        <mat-card-subtitle>{{book.Subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{book.ImageTwo}} alt="book picture">
      <mat-card-content>
        <p>
          {{book.Description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button color="primary">Buy</button>
          <button mat-flat-button color="accent">Share</button>
          <button mat-flat-button color="accent">{{book.Price}}</button>
          <button mat-flat-button disabled>v 3</button>
      </mat-card-actions>
    </mat-card>
    
</div>

<ng-template #noData>No Data Available...</ng-template>