.example-card {
    max-width: 400px;
    margin: 2rem;
  }
  
 mat-card-title, mat-card-subtitle {
        font-family: 'Abril Fatface', cursive;;
 }

  .example-header-image {
    background-size: cover;
  }

  button {
      margin-left: 5px;
  }